 h1{
            text-align: center;
        }
 ol{
            margin-top: 50px;
        
            
            
        }
 li{
            margin-left:20px;
            margin-top:5px;
            margin-bottom:5px;
            
        }